{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Tagged posts page{% endblock %}

{% block section %}
    <h1>Welcome to the Tagged Posts page</h1>

    {% for post in taggedPosts %}
        {{ include('CoreBundle:Post:_post.html.twig', { post: post}) }}
    {% endfor %}
{% endblock %}
