{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Welcome home{% endblock %}

{% block section %}
    <p>
        Please note that currently all activities happening on the admin area.
    </p>
{% endblock %}