{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Welcome home{% endblock %}

{% block section %}
    <p>
        Welcome! Please explore our great selection of blog posts.
    </p>
{% endblock %}