{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Tag list{% endblock %}

{% block section %}
    <h1>Tag list</h1>

    <table>
        <thead>
            <tr>
                <th>Tag Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td><a href="#">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li><a href="#">Create new tag</a></li>
    </ul>
{% endblock %}